@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "regularfont";
  src: url("../src/fonts/Fontspring-DEMO-theseasons-reg.otf") format("opentype");
}

@font-face {
  font-family: "boldfont";
  src: url("./fonts/Fontspring-DEMO-theseasons-bd.otf") format("opentype");
}
